In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", 
                                                                           "school_name"])

District Summary

In [2]:
# Calculate Total Number of Schools
total_schools = len(school_data_complete['school_name'].unique())

In [3]:
# Calculate Total Number of Students
total_students = school_data_complete['size'].count()

In [4]:
#Calculate the total budget. GETTING WRONG SUMMATION OUTPUT, NOT SURE WHY??????

 total_budget = school_data_complete['budget'].sum()
#total_budget = school_data_complete["budget"].sum()

In [5]:
#Calculate average math score
avg_math_score = round(school_data_complete['math_score'].mean(),6)

In [6]:
#Calculate average reading score
avg_reading_score = round(school_data_complete['reading_score'].mean(),6)

In [7]:
#Calculate the percentage of students with a passing math score (70 or greater)
students_passing_math = school_data_complete.loc[school_data_complete["math_score"]>=70,:]
percentage_passing_math = round(float(students_passing_math['math_score'].count()/total_students)*100,6)

In [8]:
#Calculate the percentage of students with a passing reading score (70 or greater)
students_passing_reading = school_data_complete.loc[school_data_complete["reading_score"]>=70,:]
percentage_passing_reading = round(float(students_passing_reading['reading_score'].count()/total_students)*100,6)

In [9]:
#Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
overall_passing_rate = round((percentage_passing_math + percentage_passing_reading)/2,6)

In [10]:
#Create District Summary Data Frame
district_summary_df = pd.DataFrame({"Total Schools": [total_schools], "Total Students": [total_students], 
                                    "Total Budget": [total_budget], "Average Math Score": [avg_math_score],
                                    "Average Reading Score": [avg_reading_score], 
                                    "Percent Passing Math": [percentage_passing_math],
                                    "Percent Passing Reading": [percentage_passing_reading],
                                    "Overall Passing Rate": [overall_passing_rate]},
                            )

In [11]:
#Data Frame Output
district_summary_df.style.format({"Total Budget": "${:,.2f}"})

School Summary

In [12]:
#Creating an overview school summary table 
school = school_data_complete.groupby(['school_name'])
school_type = school['type'].first()
total_students = school.size()
total_school_budget = school['budget'].first()

In [13]:
#Calculation
total_student_budget = total_school_budget/total_students
avg_math_score = school['math_score'].mean()
avg_reading_score = school['reading_score'].mean()
passing_math = school_data_complete[school_data_complete['math_score']>=70].groupby(['school_name']).size()
percentage_passing_math = (passing_math/total_students)*100
passing_reading = school_data_complete[school_data_complete['reading_score']>=70].groupby(['school_name']).size()
percentage_passing_reading = (passing_reading/total_students)*100
overall_passing_rate = (percentage_passing_math + percentage_passing_reading)/2

In [14]:
#Create School Summary Data Frame
school_df={'School Type': school_type, 'Total Students': total_students, 
           'Total School Budget': total_school_budget, 'Per Student Budget': total_student_budget,
          'Average Math Score': avg_math_score, 'Average Reading Score': avg_reading_score, 
          'Percentage Passing Math': percentage_passing_math, 'Percentage Passing Reading': percentage_passing_reading,
          'Overall Passing Rate': overall_passing_rate }

In [15]:
#Data Frame Output

school_summary_df = pd.DataFrame(school_df)

school_summary_df.style.format({"Total School Budget": "${:,.2f}", "Per Student Budget": "${:,.2f}"})

Top 5 Best Performing Schools(By Passing Rate)

In [16]:
top_5 = school_summary_df.sort_values("Overall Passing Rate", ascending = False).iloc[0:5,]

In [17]:
top_5.style.format({'Total Students': '{:,}',"Total School Budget": "${:,}","Per Student Budget": "${:.2f}"})
top_5

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Percentage Passing Math,Percentage Passing Reading,Overall Passing Rate
school_name,,,,,,,,,
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,95.203679

 Bottom Performing Schools (By Passing Rate)

In [18]:
bottom_5 = school_summary_df.sort_values("Overall Passing Rate").iloc[0:5,]

In [19]:
bottom_5.style.format({'Total Students': '{:,}',"Total School Budget": "${:,}","Per Student Budget": "${:.2f}"})
bottom_5

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Percentage Passing Math,Percentage Passing Reading,Overall Passing Rate
school_name,,,,,,,,,
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,73.804308

Math Scores by Grade

In [20]:
#Location Grade average index
grade_9_math = school_data_complete.loc[school_data_complete['grade'] == '9th'].groupby('school_name')["math_score"].mean()
grade_10_math = school_data_complete.loc[school_data_complete['grade'] == '10th'].groupby('school_name')["math_score"].mean()
grade_11_math = school_data_complete.loc[school_data_complete['grade'] == '11th'].groupby('school_name')["math_score"].mean()
grade_12_math = school_data_complete.loc[school_data_complete['grade'] == '12th'].groupby('school_name')["math_score"].mean()

In [21]:
#Dataframe results
math_scores = pd.DataFrame({"9th": grade_9_math, "10th": grade_10_math, "11th": grade_11_math,"12th": grade_12_math })
math_scores = math_scores[['9th', '10th', '11th', '12th']]
math_scores.index.name = "School Name"

In [22]:
#Data Frame formated output
math_scores.style.format({'9th': '{:6f}','10th': '{:6f}','11th': '{:6f}','12th': '{:6f}'})

 Reading Score by Grade

In [23]:
#Location Grade average index
grade_9_reading = school_data_complete.loc[school_data_complete['grade'] == '9th'].groupby('school_name')["reading_score"].mean()
grade_10_reading = school_data_complete.loc[school_data_complete['grade'] == '10th'].groupby('school_name')["reading_score"].mean()
grade_11_reading = school_data_complete.loc[school_data_complete['grade'] == '11th'].groupby('school_name')["reading_score"].mean()
grade_12_reading = school_data_complete.loc[school_data_complete['grade'] == '12th'].groupby('school_name')["reading_score"].mean()

In [24]:
#Dataframe results
reading_scores = pd.DataFrame({"9th": grade_9_reading, "10th": grade_10_reading, "11th": grade_11_reading,"12th": grade_12_reading})
reading_scores = reading_scores[['9th', '10th', '11th', '12th']]
reading_scores.index.name = "School Name"

In [25]:
#Data Frame formated output
reading_scores.style.format({'9th': '{:6f}','10th': '{:6f}','11th': '{:6f}','12th': '{:6f}'})

Scores by School Spending

In [26]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [27]:
school_summary_df["Per Student"] = pd.cut(total_student_budget, spending_bins, labels = group_names)

In [28]:
#Calculation 
spending_math_range = school_summary_df.groupby(["Per Student"]).mean()['Average Math Score']
spending_reading_range = school_summary_df.groupby(["Per Student"]).mean()['Average Reading Score']
percent_passing_math = school_summary_df.groupby(["Per Student"]).mean()['Percentage Passing Math']
percent_passing_reading = school_summary_df.groupby(["Per Student"]).mean()['Percentage Passing Reading']
overall_passing_rate = (spending_math_range + spending_reading_range)/2

In [29]:
#Add columns to Data Frame
spending_score_df = pd.DataFrame({"Average Math Score":spending_math_range, "Average Reading Score":spending_reading_range, 
                               "Percentage Passing Math":percent_passing_math, 
                               "Percentage Passing Reading":percent_passing_reading,
                              "Overall Passing Rate":overall_passing_rate})

In [30]:
#Bin group
spending_score_df = spending_score_df[["Average Math Score", "Average Reading Score",
                                 "Percentage Passing Math", "Percentage Passing Reading", 
                                 "Overall Passing Rate" ]]

In [31]:
#Output
spending_score_df

,Average Math Score,Average Reading Score,Percentage Passing Math,Percentage Passing Reading,Overall Passing Rate
Per Student,,,,,
<$585,83.455399,83.933814,93.460096,96.610877,83.694607
$585-615,83.599686,83.885211,94.230858,95.900287,83.742449
$615-645,79.079225,81.891436,75.668212,86.106569,80.485330
$645-675,76.997210,81.027843,66.164813,81.133951,79.012526

 Scores by School Size

In [32]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [33]:
#school_summary_df["group_names(School Size)"] = pd.cut(total_students, size_bins, labels = group_names)
school_summary_df["School Size"] = pd.cut(total_students, size_bins, labels = group_names)

In [34]:
#Calculation 
spending_math_range = school_summary_df.groupby(["School Size"]).mean()['Average Math Score']
spending_reading_range = school_summary_df.groupby(["School Size"]).mean()['Average Reading Score']
percent_passing_math = school_summary_df.groupby(["School Size"]).mean()['Percentage Passing Math']
percent_passing_reading = school_summary_df.groupby(["School Size"]).mean()['Percentage Passing Reading']
overall_passing_rate = (spending_math_range + spending_reading_range)/2

In [35]:
#Add columns to Data Frame
size_score_df = pd.DataFrame({"Average Math Score":spending_math_range, "Average Reading Score":spending_reading_range, 
                               "Percentage Passing Math":percent_passing_math, 
                               "Percentage Passing Reading":percent_passing_reading,
                              "Overall Passing Rate":overall_passing_rate})

In [36]:
#Bin group
size_score_df = size_score_df[["Average Math Score", "Average Reading Score",
                                 "Percentage Passing Math", "Percentage Passing Reading", 
                                 "Overall Passing Rate" ]]
#Output
size_score_df

,Average Math Score,Average Reading Score,Percentage Passing Math,Percentage Passing Reading,Overall Passing Rate
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,83.875721
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,83.619561
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,79.545455

Scores by School Type

In [37]:
#Calculation 
spending_math_range = school_summary_df.groupby(["School Type"]).mean()['Average Math Score']
spending_reading_range = school_summary_df.groupby(["School Type"]).mean()['Average Reading Score']
percent_passing_math = school_summary_df.groupby(["School Type"]).mean()['Percentage Passing Math']
percent_passing_reading = school_summary_df.groupby(["School Type"]).mean()['Percentage Passing Reading']
overall_passing_rate = (spending_math_range + spending_reading_range)/2

In [38]:
#Add columns to Data Frame
school_type_df = pd.DataFrame({"Average Math Score":spending_math_range, "Average Reading Score":spending_reading_range, 
                               "Percentage Passing Math":percent_passing_math, 
                               "Percentage Passing Reading":percent_passing_reading,
                              "Overall Passing Rate":overall_passing_rate})

In [39]:
#Data Munging
school_type_df = school_type_df[["Average Math Score", "Average Reading Score",
                                 "Percentage Passing Math", "Percentage Passing Reading", 
                                 "Overall Passing Rate" ]]
#Output
school_type_df

,Average Math Score,Average Reading Score,Percentage Passing Math,Percentage Passing Reading,Overall Passing Rate
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,83.685136
District,76.956733,80.966636,66.548453,80.799062,78.961685

PyCity Schools Analysis

As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).
As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).
As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school.